<div class="container">
	<div class="card">
		<div class="card-header text-center">
			<h3>REGISTRO DE DOCTORES</h3>
		</div>
		<div class="card-body">
			<form>
				<div class="form-group">
					<label for="id"> ID:  </label>
					<input type="number" name="id" class="form-control" [(ngModel)]="doctor.idDoctor">
				</div>

				<div class="form-group">
					<label for="nombre"> NOMBRE </label>
					<input type="text" name="nombre" class="form-control" [(ngModel)]="doctor.nombre">
				</div>

				<div class="form-group">
					<label for="especialidad"> ESPECIALIDAD: </label>
					<input type="text" name="especialidad" class="form-control" [(ngModel)]="doctor.especialidad">
				</div>

				<div class="form-group">
					<label for="espID"> DEPARTAMENTO: </label>
					<select name="espID" class="form-control" [(ngModel)]="doctor.espId">
						<option [ngValue]="especialidad">SELECCIONE UNA OPCION</option>
						@for (especialidad of especialidades; track especialidad.idEsp) {
						<option [ngValue]="especialidad">{{ especialidad.nombre }}</option>
						}@empty {
						<option [ngValue]="undefined">
							NO EXISTE NINGUN DEPARTAMENTO
						</option>
						}
					</select>
				</div>

				<br />
				<button class="btn btn-outline-dark" (click)="guardar()">
					GUARDAR
				</button>
				<button class="btn btn-outline-dark" style="margin-left: 15px" (click)="cancelar()">
					CANCELAR
				</button>

				</form>
		</div>
	</div>
</div>